@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

/* Bordered drop area */
.filepond--panel-root {
  background: linear-gradient(to right, #ffdab9, #ffd999);
  border-radius: 24rem;
  border: 1px solid lightgray
}
