@tailwind base;
@tailwind components;
@tailwind utilities;

/* Remove default eye in password input */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

/* Bordered drop area */
.filepond--panel-root {
  background: linear-gradient(to right, #ffdab9, #ffd999);
  border-radius: 24rem;
  border: 1px solid lightgray;
}


/* For Chrome, Safari, and Opera */
.scrollbar::-webkit-scrollbar {
  width: 7px; /* Width of the scrollbar */
}

.scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the track */
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #DAA520; /* Color of the scroll thumb */
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: gold; /* Color of the scroll thumb when hovered */
}

/* For Firefox */
.scrollbar {
  scrollbar-width: thin; /* Width of the scrollbar */
  scrollbar-color: #DAA520 #f1f1f1; /* Scroll thumb and track color */
}

.yourClass {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari, and Opera */
.yourClass::-webkit-scrollbar {
  display: none;
}
